<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>userInfo</title>
</head>

<style>
.info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

</style>
<body class="info">
<div>
    <label>ID:</label>
    <div>{{user.id}}</div>

    <label>Name:</label>
    <div>{{user.name}}</div>

    <label>Password:</label>
    <div>{{user.password}}</div>

    <label>email:</label>
    <div>{{user.email}}</div>

    <label>city:</label>
    <div>{{user.city}}</div>
</div>


</body>
</html>